*{
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box; 
}
.contenedor{
    background-color: #0f569e;
    display: flex;
    min-height:100vh ;
    justify-content: center;
    align-items: center;
   
    
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 115px;
    height: 100px;
}
h1{
    text-align: center;
}
#a{
background:orangered ;
}
#a1{
    background: orangered;
}
#a2{
    background: orangered;
}
#a3{
    background: orangered;
}
#a4{
    background: orange;
}
#a5{
    background: orange;
}
#a6{
    background: red;
}
#a7{
    background:orange;
}
#a8{
    background: orange;
}
#a9{
    background: orangered;
}
#a10{
    background: orangered;
}
#a11{
    background: orangered;
}
#a12{
    background: orangered;
}
.col2>div{
    background-color: aqua;
}